body {
  color: #545454;
  font-family: 'Roboto', sans-serif;
  background-color: #181a1b;
}

#self-picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#center-circle{
  position: absolute;
  top: calc(50% + 12.5px - 75px);
  left: calc(50% - 75px);
}