*{font-family: "Lucida Console"; box-sizing: border-box}

.bigtitle{
  background-color: floralwhite;
  text-align: center;
  font-size: 200%;
  border: 2px solid;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.bigsubtitle{
  text-align: center;
  font-size: 75%;
  padding: 20px;
}

